Code/DataFactory/pipeline/Returning the Value.json
{
	"name": "Returning the Value",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Return Value",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ReturnedValue",
					"value": {
						"value": "@activity('Execute Pipeline1').output.ReturnVar1",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"ReturnedValue": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Demo Pipelines/Misc"
		},
		"annotations": []
	}
}